
	* {text-align:center;}
	
	table {margin: 0 auto; width:50%; font-size:20px; border-collapse: collapse;}
	
	tr {border-bottom:1px solid gray; height:50px}
	
	tbody tr:hover{background-color:orange}
	
	
